.dashboard {
  padding: 20px;
}

.subheading {
  color: gray;
  margin-bottom: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.lower-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.05);

  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.large {
  grid-column: span 2;
}

.highlight {
  background: #166534;
  color: white;
}

.primary-btn {
  background: #166534;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.timer-card {
  background: linear-gradient(135deg, #14532d, #166534);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.time-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);

  width: 80px;
  height: 90px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-number {
  font-size: 34px;
  font-weight: 600;
  color: white;
}

.time-label {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 4px;
  text-transform: lowercase;
}

.colon {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.clock-text {
  font-size: 32px;
  font-weight: 600;
  margin: 15px 0;
}

.timer-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.timer-buttons button {
  margin-right: 8px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.timer-buttons button:hover {
  background: rgba(255, 255, 255, 0.4);
}
