.navbar {
  position: fixed;
  top: 12px;
  left: 244px;;
  right: 12px;
  height: 80px;
  
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(12px);
  
  color: black;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  z-index: 100;
}

/* Search wrapper */

.search-wrapper {
  position: relative;
}

/* Icon inside input */

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Search input */

.navbar-search {
  padding: 12px 18px 12px 40px; /* LEFT padding makes space for icon */
  border-radius: 25px;
  width: 340px;
  height: 50px;
  font-size: 16px;
  outline: none;

  background: #f3f4f6;
  border: 1px solid transparent;
  transition: 0.3s;
}

.navbar-search:focus {
  background: white;
  border: 1px solid #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.15);
}


/* Right buttons */

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 14px;
  /* border: 2px solid rgb(255, 0, 0); */
  border-radius: 30px;

  cursor: pointer;
  transition: 0.2s;
}

.profile-box:hover {
  background: #f3f4f6;
}

/* Real user image */

.profile-img {
  width: 32px;
  height: 32px;
    
  border-radius: 50%;   /* THIS makes it circular */

  object-fit: cover;   /* prevents stretching */
}

/* Grey fallback icon */

.profile-fallback {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: #dbd8d8b9;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
}

.profile-box span {
  font-size: 14px;
}

.icon-btn {
  width: 50px;
  height: 50px;

  border-radius: 50%;      /* circle */
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  cursor: pointer;
  position: relative;     /* added for notification dot */

  border: none;
  background: #f3f4f6;
  color: #444;
  transition: 0.2s ease;
}

.notification-dot {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
}

.icon-btn:hover {
  background: #9e9e9e;
  color: white;
  
}
