.navbar {
  position: fixed;
  top: 12px;
  left: 244px;;
  right: 12px;
  height: 80px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
}

/* Search wrapper */

.search-wrapper {
  position: relative;
}

/* Icon inside input */

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Search input */

.navbar-search {
  padding: 12px 18px 12px 40px; /* LEFT padding makes space for icon */
  border-radius: 30px;
  border: none;
  outline: none;
  width: 340px;
  font-size: 16px;
}


/* Right buttons */

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 14px;
  /* border: 2px solid rgb(255, 0, 0); */
  border-radius: 30px;

  cursor: pointer;
}

/* Real user image */

.profile-img {
  width: 32px;
  height: 32px;
    
  border-radius: 50%;   /* THIS makes it circular */

  object-fit: cover;   /* prevents stretching */
}

/* Grey fallback icon */

.profile-fallback {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: #dbd8d8b9;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
}

.profile-box span {
  font-size: 14px;
}

.icon-btn {
  width: 38px;
  height: 38px;

  border-radius: 50%;      /* circle */
  border: 2px solid rgba(0, 0, 0, 0.747);
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  cursor: pointer;
}

.icon-btn:hover {
  background: rgba(255,255,255,0.2);
}
