.sidebar {
  position: fixed;

  top: 12px;
  left: 12px;

  width: 220px;
  height: calc(100vh - 24px); /* 12 top + 12 bottom */

  background: #f8f9f6;
  padding: 20px;

  border-radius: 20px;
  color: #333;
}

/* Section titles */

.sidebar-section {
  font-size: 11px;
  color: #aaa;
  margin: 15px 0 10px;
}

/* Sidebar items */

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 12px;
  border-radius: 10px;

  cursor: pointer;
  color: #9aa5a0;

  transition: all 0.2s ease; /* smooth hover */
}

.sidebar-item span {
  flex: 1;
}

.sidebar-item svg {
  transition: 0.2s ease;
}

.sidebar-item:hover svg {
  transform: scale(1.1);
}

/* Hover effect (NO bg, bigger + bold) */

.sidebar-item:hover {
  background: transparent;
  color: #222;

  font-weight: 600;
  transform: scale(1.05);
}

/* Active item */

.sidebar-item.active {
  color: #0f5132;
  font-weight: 600;
}

/* Badge */

.badge {
  background: #0f5132;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 8px;
}

/* Logout */

.logout {
  color: #c0392b;
}

.logout:hover {
  color: #922b21; /* Darker red */
}
